/* место для вашего кода */

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  color: black;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 24.3px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: none;
}

.address {
  max-width: 240px;
}

.address-link {
font-style: normal;
}

.header__logo {
  display: inline-block;
  width: 148px;
  height: 105px;
  position: absolute;
  left: 44.7%;
  top: 30.7%;
}

.cover {
  position: relative;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

/*ТЕСТ ЗАГОЛОВКА*/

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  font-size: 100px;
font-family: Raleway;
font-weight: 700;
text-transform: uppercase;
}
span {
  z-index: 2;
  line-height: 115px;
letter-spacing: 30px;
}

.more-space {
  line-height: 115px;
letter-spacing: 60px;
}
